 *,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}.grid{display:grid;}.grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}.m-4px{margin:4px;}.mb-10px{margin-bottom:10px;}.mb-8px{margin-bottom:8px;}.mr-8px{margin-right:8px;}.box-border{box-sizing:border-box;}.h-100\%,.h-full{height:100%;}.h-122px{height:122px;}.h-142px{height:142px;}.h-30px{height:30px;}.w-30px{width:30px;}.w-50\%{width:50%;}.w-70vw{width:70vw;}.w-80px{width:80px;}.w-full{width:100%;}.flex{display:flex;}.flex-1{flex:1 1 0%;}.flex-col{flex-direction:column;}.cursor-pointer{cursor:pointer;}.select-none{-webkit-user-select:none;user-select:none;}.items-stretch{align-items:stretch;}.gap-4{gap:1rem;}.\!border-width-4px{border-width:4px !important;}.border-rounded,.rounded{border-radius:0.25rem;}.rounded-lb{border-bottom-left-radius:0.25rem;}.rounded-lt{border-top-left-radius:0.25rem;}.rounded-rb{border-bottom-right-radius:0.25rem;}.rounded-rt{border-top-right-radius:0.25rem;}.bg-\[\#282A36\]{--un-bg-opacity:1;background-color:rgb(40 42 54 / var(--un-bg-opacity)) /* #282A36 */;}.bg-cbd-brand-2{--un-bg-opacity:1;background-color:rgb(236 241 253 / var(--un-bg-opacity)) /* #ECF1FD */;}.bg-cbd-brand-3{--un-bg-opacity:1;background-color:rgb(55 117 252 / var(--un-bg-opacity)) /* #3775FC */;}.bg-cbd-gray-1{--un-bg-opacity:1;background-color:rgb(249 250 252 / var(--un-bg-opacity)) /* #F9FAFC */;}.p-10px{padding:10px;}.p-20px{padding:20px;}.px-20px{padding-left:20px;padding-right:20px;}.px-8px{padding-left:8px;padding-right:8px;}.text-black{--un-text-opacity:1;color:rgb(0 0 0 / var(--un-text-opacity)) /* #000 */;}.text-cbd-brand-4{--un-text-opacity:1;color:rgb(16 92 255 / var(--un-text-opacity)) /* #105CFF */;}.text-cbd-gray-5{--un-text-opacity:1;color:rgb(134 144 156 / var(--un-text-opacity)) /* #86909C */;}.text-cbd-gray-6{--un-text-opacity:1;color:rgb(78 89 105 / var(--un-text-opacity)) /* #4E5969 */;}.text-cbd-gray-7{--un-text-opacity:1;color:rgb(29 33 41 / var(--un-text-opacity)) /* #1D2129 */;}.text-cbd-white,.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;}.hover\:text-cbd-brand-5:hover{--un-text-opacity:1;color:rgb(10 76 222 / var(--un-text-opacity)) /* #0A4CDE */;}.pr{position:relative;}.pf{position:fixed;}.fcc{display:flex;justify-content:center;align-items:center;}.fsc{display:flex;justify-content:flex-start;align-items:center;}.fbc{display:flex;justify-content:space-between;align-items:center;}.border-basic{border-width:1px;border-style:solid;border-color:#E5E6EB;}.pf-regular-14{font-weight:400;font-size:14px;line-height:;font-family:PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";}.pf-regular-12{font-weight:400;font-size:12px;line-height:;font-family:PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";}.font-pingfang{font-family:PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";} .border-basic {
  border-style: solid;
  border-color: var(--cbd-gray-3);
  border-width: 1px;
}

.border-error {
  border-style: solid;
  border-color: var(--cbd-red-3);
  border-width: 1px;
}

.border-warning {
  border-style: solid;
  border-color: var(--cbd-yellow-3);
  border-width: 1px;
}

.border-success {
  border-style: solid;
  border-color: var(--cbd-green-3);
  border-width: 1px;
}

.font-pingfang {
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-medium-24 {
  font-weight: 500;
  line-height: 1.4;
  font-size: 24px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-medium-22 {
  font-weight: 500;
  font-size: 24px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-medium-20 {
  font-weight: 500;
  font-size: 20px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-medium-18 {
  font-weight: 500;
  font-size: 18px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-medium-17 {
  font-weight: 500;
  font-size: 17px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-medium-16 {
  font-weight: 500;
  font-size: 16px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-medium-15 {
  font-weight: 500;
  font-size: 15px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-regular-24 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 24px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-regular-22 {
  font-weight: 500;
  font-size: 24px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-regular-20 {
  font-weight: 400;
  font-size: 20px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-regular-18 {
  font-weight: 400;
  font-size: 18px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-regular-17 {
  font-weight: 400;
  font-size: 17px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-regular-16 {
  font-weight: 400;
  font-size: 16px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-regular-15 {
  font-weight: 400;
  font-size: 15px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-regular-14 {
  font-weight: 400;
  font-size: 14px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pf-regular-12 {
  font-weight: 400;
  font-size: 12px;
  font-family: PingFang-SC, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.font-harmony {
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-medium-24 {
  font-weight: 500;
  line-height: 1.4;
  font-size: 24px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-medium-20 {
  font-weight: 500;
  font-size: 20px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-medium-18 {
  font-weight: 500;
  font-size: 18px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-medium-17 {
  font-weight: 500;
  font-size: 17px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-medium-16 {
  font-weight: 500;
  font-size: 16px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-medium-15 {
  font-weight: 500;
  font-size: 15px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-regular-24 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 24px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-regular-20 {
  font-weight: 400;
  font-size: 20px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-regular-18 {
  font-weight: 400;
  font-size: 18px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-regular-17 {
  font-weight: 400;
  font-size: 17px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-regular-16 {
  font-weight: 400;
  font-size: 16px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-regular-15 {
  font-weight: 400;
  font-size: 15px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-regular-14 {
  font-weight: 400;
  font-size: 14px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hm-regular-12 {
  font-weight: 400;
  font-size: 12px;
  font-family: "HarmonyOS Sans SC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: "DIN";
  src: url("https://baiwusanyu-c.github.io/chapanda-style-preset/DIN-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
.font-din {
  font-family: DIN, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: "DIN-Bold";
  src: url("https://baiwusanyu-c.github.io/chapanda-style-preset/DINNextLTPro-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
.font-din-bold {
  font-family: DIN-Bold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: "DIN-Heavy";
  src: url("https://baiwusanyu-c.github.io/chapanda-style-preset/DINNextLTPro-Heavy.ttf");
  font-weight: normal;
  font-style: normal;
}
.font-din-heavy {
  font-family: DIN-Heavy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  font-family: "DIN-Heavy-Lighter";
  src: url("https://baiwusanyu-c.github.io/chapanda-style-preset/DINNextLTPro-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
.font-din-heavy-lighter {
  font-family: DIN-Heavy-Lighter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

.fcs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fbs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fsc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fss {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.fbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ifc {
  display: inline-flex;
  align-items: center;
}