@use '@chapanda/style-preset-base/theme' as cbd;
@use 'sass:math';
@use 'sass:map';
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'white':cbd.get-color-value('--cbd-white'),
    'black': cbd.get-color-value('--cbd-black'),
    'primary': (
      'base': cbd.get-color-value('--cbd-brand-5'),
    ),
    'success': (
      'base': cbd.get-color-value('--cbd-green-3'),
    ),
    'warning': (
      'base': cbd.get-color-value('--cbd-yellow-3'),
    ),
    'danger': (
      'base': cbd.get-color-value('--cbd-red-3'),
    ),
    'error': (
      'base': cbd.get-color-value('--cbd-red-3'),
    ),
    'info': (
      'base': cbd.get-color-value('--cbd-gray-4'),
    ),
  ),
  // button
  $button-border-radius: (
   'large': 2px,
   'default': 2px,
   'small': 2px,
  ),
  // $pagination
  $pagination: (
   'button-bg-color':cbd.get-color-value('--cbd-white'),
   'button-disabled-color': cbd.get-color-value('--cbd-gray-4'),
  ),
   // $transfer
  $transfer: (
   'border-color': cbd.get-color-value('--cbd-gray-3'),
  ),
   // $menu
  $menu: (
   'text-color': cbd.get-color-value('--cbd-gray-6'),
   'hover-text-color': cbd.get-color-value('--cbd-gray-6'),
   'hover-bg-color': cbd.get-color-value('--cbd-gray-2'),
   'active-color': cbd.get-color-value('--cbd-brand-5'),
  ),
   // $avatar
  $avatar: (
   'bg-color': cbd.get-color-value('--cbd-gray-3'),
  ),
  // $radio-button
  $radio-button:(
  'checked-bg-color': cbd.get-color-value('--cbd-brand-5'),
  'checked-text-color': cbd.get-color-value('--cbd-white'),
  ),
   // $checkbox
  $checkbox: (
   'input-border': 2px solid cbd.get-color-value('--cbd-gray-3'),
  ),
   // $table
  $table: (
   'border-color': cbd.get-color-value('--cbd-gray-3'),
   'border': 1px solid cbd.get-color-value('--cbd-gray-3'),
   'header-text-color': cbd.get-color-value('--cbd-gray-7'),
   'text-color': cbd.get-color-value('--cbd-gray-7'),
    'row-hover-bg-color': cbd.get-color-value('--cbd-gray-1'),
    'header-bg-color': cbd.get-color-value('--cbd-gray-2'),
  ),
   // $tag
  $tag: (
    'border-radius': 2px,
  ),
  // $input
  $input: (
    'text-color': cbd.get-color-value('--cbd-gray-7'),
     'border-radius': 2px,
     'border-color': cbd.get-color-value('--cbd-gray-3'),
  ),
   $input-disabled: (
   'fill': cbd.get-color-value('--cbd-gray-2'),
   'text-color': cbd.get-color-value('--cbd-gray-4'),
  ),
   // $select
   $select: (
    'disabled-color': cbd.get-color-value('--cbd-gray-4'),
    'input-color': cbd.get-color-value('--cbd-gray-7'),
    'multiple-input-color': cbd.get-color-value('--cbd-gray-7'),
   ),
   $select-option: (
    'selected-text-color': cbd.get-color-value('--cbd-gray-7'),
   ),
    // $datepicker
   $datepicker: (
    'text-color': cbd.get-color-value('--cbd-gray-7'),
    'disabled-color': cbd.get-color-value('--cbd-gray-4'),
    'input-color': cbd.get-color-value('--cbd-gray-7'),
    'multiple-input-color': cbd.get-color-value('--cbd-gray-7'),
   ),
   // $popover:
   $popover :(
    'bg-color': cbd.get-color-value('--cbd-gray-1'),
   ),
   // $descriptions:
   $descriptions :(
    'table-border': 1px solid cbd.get-color-value('--cbd-gray-3'),
    'item-bordered-label-background':  cbd.get-color-value('--cbd-gray-1'),
   ),
    // $calendar:
   $calendar :(
    'header-border-bottom':1px solid cbd.get-color-value('--cbd-transparent'),
   ),
    // $card:
   $card :(
   'border-color': cbd.get-color-value('--cbd-gray-3'),
    'bg-color': cbd.get-color-value('--cbd-gray-1'),
   ),
     // $collapse:
   $collapse :(
    'border-color': cbd.get-color-value('--cbd-gray-3'),
    'header-bg-color': cbd.get-color-value('--cbd-gray-1'),
    'content-bg-color': cbd.get-color-value('--cbd-gray-1'),
   ),
     // $tree:
   $tree :(
       'node-hover-bg-color': cbd.get-color-value('--cbd-gray-1'),
   ),
   // $slider:
   $slider :(
    'runway-bg-color': cbd.get-color-value('--cbd-gray-3'),
   ),
    // $notification:
   $notification :(
     'radius': 4px,
   ),
);
@use "element-plus/theme-chalk/src/index.scss" as *;

:root {
  @include cbd.generate-root-css-variables();
  --el-color-primary:var(--cbd-brand-5);
  --el-text-color-regular: var(--cbd-gray-6);
  --el-text-color-primary: var(--cbd-gray-7);
  --el-border-radius-base: 2px;
  --el-border-radius-small: 2px;
  --el-color-primary-light-3: var(--cbd-brand-5);
}

// TODO: 整理一遍 user tower 用到的组件主题，优先适配
// el-tooltip （无需）
// el-upload （无需）
// el-radio （无需）
// el-dropdown（无需）
// el-drawer（无需）
// el-popover （已完成）
// el-breadcrumb （已完成）
// el-pagination（已完成）
// el-dialog （已完成）
// el-button （已完成）
// el-transfer （已完成）
// el-menu （已完成）
// el-avatar （已完成）
// el-radio-button （已完成）
// el-checkbox（已完成）
// el-table（已完成）
// el-tag（已完成）
// el-tabs （已完成）
// el-input  -> （已完成）analysis-dimension-item.vue
// el-select （已完成）
// el-date-picker （已完成）
// el-input-number （已完成）
// el-select-v2（已完成）
// el-cascader（已完成）
// el-descriptions --> （已完成）src/views/crowd-insight/components/set-condition/index.vue
// el-form -> （已完成）src/views/crowd-insight/view.vue、src/views/label-manage/user-label/view.vue

// sidebar.scss
// ruoyi.scss
// element-ui.scss
// TODO: 没用到的再根据组件库去适配
// el-link（无需）
// el-empty（无需）
// el-image（无需）
// el-mentions（无需）
// el-text（无需）
// el-rate（无需）
// el-popconfirm（无需）
// el-switch（无需）
// el-timepicker（无需）
// el-divider（已完成）
// el-badge（已完成）
// el-calender（已完成）
// el-card（已完成）
// el-collapse（已完成）
// el-statistic（已完成）
// el-timeline（已完成）
// el-tree （已完成）
// el-autocomplete （已完成）


// el-slider（已完成）
// el-tree-select（已完成）
// el-progress（已完成）

// el-pageheader（已完成）
// el-steps（无法实现）

// el-alert（已完成）
// el-message
// el-notification（已完成）

