.el-menu-item.is-disabled{
  --el-menu-text-color: var(--cbd-gray-4);
  opacity: 1;
}

.el-menu-item-group__title{
  --el-text-color-secondary: var(--cbd-gray-5);
}

.el-menu--vertical .el-menu-item.is-active{
  background-color: var(--cbd-gray-2);
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):hover.is-active{
  color: var(--cbd-brand-5);
}
.el-menu--horizontal .el-menu-item.is-active{
  background-color: var(--cbd-gray-2);
}

.el-menu--horizontal > .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal > .el-menu-item:not(.is-disabled),
.el-menu--horizontal > .el-menu-item:not(.is-disabled):hover{
  background-color: var(--cbd-white);
}

.el-menu--horizontal .el-menu .el-menu-item.is-active,
.el-menu--horizontal .el-menu .el-sub-menu.is-active > .el-sub-menu__title,
.el-menu-item.is-active,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):hover{
  color: var(--cbd-brand-5);
}

.el-menu--horizontal.el-menu > .el-sub-menu.is-active .el-sub-menu__title,
.el-menu--horizontal.el-menu > .el-menu-item.is-active{
  color: var(--cbd-brand-5)!important;
  border-color: var(--cbd-brand-5);
}
