
.el-notification .el-notification--info {
  --el-notification-icon-color:  var(--cbd-brand-5);
}
.el-notification {
  --el-notification-border-color: var(--cbd-gray-3);
  background-color: var(--cbd-gray-1);
}
