@use '@chapanda/style-preset-base/theme' as cbd;
:root {
  @include cbd.generate-root-css-variables();
}

/** 覆盖 Calendar  **/
.ant-picker-calendar-mode-switch .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: var(--ant-radio-button-solid-checked-color);
  background: var(--ant-radio-button-solid-checked-bg);
  border-color: var(--ant-radio-button-solid-checked-bg);
}

.ant-picker-calendar-mode-switch .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  color: var(--ant-radio-button-solid-checked-color);
  background: var(--ant-radio-button-solid-checked-hover-bg);
  border-color: var(--ant-radio-button-solid-checked-hover-bg);
}

.ant-picker-calendar-mode-switch .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
  color: var(--ant-radio-button-solid-checked-color);
  background: var(--ant-radio-button-solid-checked-active-bg);
  border-color: var(--ant-radio-button-solid-checked-active-bg);
}


/** 覆盖 modal  **/
.ant-modal .ant-modal-content {
  padding: 0;
}
.ant-modal .ant-modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--cbd-gray-3);
  padding: 20px 24px 20px 24px;
}
.ant-modal .ant-modal-body{
  padding: 0 24px 0 24px;
}

.ant-modal .ant-modal-footer{
  border-top: 1px solid var(--cbd-gray-3);
  padding: 20px 24px 20px 24px;
}

.ant-modal-footer .ant-btn-default{
  background-color: var(--cbd-gray-2);
  border-color: var(--cbd-gray-2)
}
.ant-modal-footer .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
  background-color: var(--cbd-gray-3);
  border-color: var(--cbd-gray-3);
  color: var(--cbd-brand-3)
}

.ant-modal-footer .ant-btn-default:not(:disabled):not(.ant-btn-disabled):active{
  background-color: var(--cbd-gray-3);
  border-color: var(--cbd-gray-3);
  color: var(--cbd-brand-5)
}

/** 覆盖 Pagination  **/

.ant-pagination .ant-pagination-item-active a {
  color: var(--cbd-white);
}

.ant-pagination .ant-pagination-item-active {
  background-color: var(--ant-color-primary);
}

/** 覆盖 transfer **/
.ant-transfer .ant-transfer-list-header {
  background-color: var(--cbd-gray-1);
}

/** 覆盖 date-picker **/
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-end) .ant-picker-cell-inner,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-start) .ant-picker-cell-inner,
.ant-picker-date-panel .ant-picker-cell-inner,
.ant-picker-date-panel .ant-picker-cell.ant-picker-cell-range-end .ant-picker-cell-inner,
.ant-picker-date-panel .ant-picker-cell.ant-picker-cell-range-start .ant-picker-cell-inner{
  border-radius: var(--ant-border-radius-sm);
  border-start-start-radius:var(--ant-border-radius-sm);
  border-end-start-radius: var(--ant-border-radius-sm);
  border-start-end-radius: var(--ant-border-radius-sm);
  border-end-end-radius: var(--ant-border-radius-sm);
}
